# Entorno virtual
env/

# Archivos de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.cover
*.log
*.pot
*.py,cover
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.egg
*.eggs
dist/
build/
*.mo

# Configuración del entorno
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de bases de datos locales
*.sqlite3

# Archivos estáticos compilados
staticfiles/
static/
media/

# Archivos de migraciones de Django
*/migrations/*
!*/migrations/__init__.py

# Archivos de dependencia
*.lock
pip-log.txt
pip-delete-this-directory.txt

# Archivos de cobertura de pruebas
htmlcov/

# Archivos de configuración de Pytest
.pytest_cache/
