{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="central">

</div>

<section class="main">
    <div class="softskills">
        <h2>SOFTSKILLS</h2>
        <div class="contenido">
            <div class="cajas">
                <h4>LOREM</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, dicta!</p>
            </div>
            <div class="cajas">
                <h4>LOREM</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, dicta!</p>
            </div>
            <div class="cajas">
                <h4>LOREM</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, dicta!</p>
            </div>
            <div class="cajas">
                <h4>LOREM</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, dicta!</p>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="hardskills">
        <h2>HARDSKILLS</h2>
        <div class="contenido">
            <div class="cajas">
                <h4>LOREM</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, dicta!</p>
            </div>
            <div class="cajas">
                <h4>LOREM</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, dicta!</p>
            </div>
            <div class="cajas">
                <h4>LOREM</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, dicta!</p>
            </div>
            <div class="cajas">
                <h4>LOREM</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, dicta!</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}