<footer>
    <div class="footer">
        <div class="iconos">
            <h1>xd</h1>
        </div>
        <div class="iconos">
            <h3>NETWORKS</h3>
            <div class="gap">
                <a href="https://www.instagram.com/" target="_blank"><img src="/static/home/img/instagramgrande.png" alt="instagram"></a>
                <a href="https://www.linkedin.com/" target="_blank"><img src="/static/home/img/linkedin.png" alt="linkedin"></a>
                <a href="https://github.com/" target="_blank"><img src="/static/home/img/github.png" alt="github"></a>
            </div>
        </div>
    </div>
    <div class="marca-personal">
        <img src="/static/home/img/cerebroblanco.png" alt="BRAINTELLIGENT">
        <h2>BRAINTELLIGENT</h2>
    </div>
</footer>